<form id="fForm03" method="post">
    <div id="id03TunjanganStruktural" style="float:left">
        <h3>TUNJANGAN STRUKTURAL</h3>
        <input class="easyui-textbox" value="0" label="Golongan 1" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolStruktural1Orang" name="nmGolStruktural1Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolStruktural1Nominal" name="nm03GolStruktural1Nominal"><br>
        <input class="easyui-textbox" value="0" label="Golongan 2" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolStruktural2Orang" name="nmGolStruktural2Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolStruktural2Nominal" name="nm03GolStruktural2Nominal"><br>
        <input class="easyui-textbox" value="0" label="Golongan 3" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolStruktural3Orang" name="nmGolStruktural3Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolStruktural3Nominal" name="nm03GolStruktural3Nominal"><br>
        <input class="easyui-textbox" value="0" label="Golongan 4" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolStruktural4Orang" name="nmGolStruktural4Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolStruktural4Nominal" name="nm03GolStruktural4Nominal"><br>
        <input class="easyui-textbox" readonly="true" value="0" label="Jumlah" labelPosition="left" data-options="prompt:'Jumlah'" id="id03JumlahStrukturalOrang" name="nm03JumlahStrukturalOrang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" readonly="true" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'"  id="id03TotalStruktural" name=="nm03TotalStruktural" >
    </div>
    <div id="id03TunjanganFungsional" style="padding-left:50px;float-left">
        <h3> TUNJANGAN FUNGSIONAL</h3>
        <input class="easyui-textbox" value="0" label="Golongan 1" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolFungsional1Orang" name="nmGolFungsional1Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolFungsional1Nominal" name="nm03GolFungsional1Nominal"><br>
        <input class="easyui-textbox" value="0" label="Golongan 2" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolFungsional2Orang" name="nmGolFungsional2Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolFungsional2Nominal" name="nm03GolFungsional2Nominal"><br>
        <input class="easyui-textbox" value="0" label="Golongan 3" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolFungsional3Orang" name="nmGolFungsional3Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolFungsional3Nominal" name="nm03GolFungsional3Nominal"><br>
        <input class="easyui-textbox" value="0" label="Golongan 4" labelPosition="left" data-options="prompt:'jumlah'" id="id03GolFungsional4Orang" name="nmGolFungsional4Orang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" value="0" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'" id="id03GolFungsional4Nominal" name="nm03GolFungsional4Nominal"><br>
        <input class="easyui-textbox" readonly="true" value="0" label="Jumlah" labelPosition="left" data-options="prompt:'Jumlah'" id="id03JumlahFungsionalOrang" name="nm03JumlahFungsionalOrang" style="width:150px;" labelWidth="100"> Orang ==
        <input class="easyui-numberbox" readonly="true" data-options="labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'200px'"  id="id03TotalFungsional" name=="nm03TotalFungsional" ><br>
    </div>
    <br>
    <div id="pGaji">
        <h3> <center>Perbandingan Gaji</center> </h3>
        <table style="width:100%;">
            <tr>
                <td style="width:50%">
            
                    <table id="dgGajiSebelumnya" title="Gaji Sebelumnya" class="easyui-datagrid" style="width:100%;height:250px"
                            url="url" pagination="true"
                            rownumbers="true" fitColumns="true" singleSelect="true">
                        <thead>
                            <tr>
                                <th field="" width="50"></th>
                                <th field="" width="50"></th>
                            </tr>
                        </thead>
                    </table>
                </td>

                <td style="width:50%">
                    <table id="dgGajiSekarang" title="Gaji Sekarang" class="easyui-datagrid" style="width:100%;height:250px"
                            url="url" pagination="true"
                            rownumbers="true" fitColumns="true" singleSelect="true">
                        <thead>
                            <tr>
                                <th field="" width="50"></th>
                                <th field="" width="50"></th>
                            </tr>
                        </thead>
                    </table>

                </td>
            </tr>
        </table>
    </div>
    <div id="pLampiranPerubahanGaji">
        <h3> <center> LAMPIRAN PERUBAHAN GAJI </center> </h3>
        <table id="dgLampiranPerubahanGaji" title="Lampiran Perubahan Gaji" class="easyui-datagrid" style="width:100%;height:250px"
                url="url"
                toolbar="#btLampiranPerubahanGaji" pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <th field="" width="50"></th>
                    <th field="" width="50"></th>
                </tr>
            </thead>
        </table>
        <div id="btLampiranPerubahanGaji">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="tambahLampiran()">Tambah</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editLampiran()">Edit</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="hapusLampiran()">Hapus</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" plain="true" onclick="clearLampiran()">Clear</a>
        </div>
    </div>
</form>

<script>

    $('#id03GolStruktural1Orang').textbox({
        onChange:function(ne,ol){
            jumlahStruktural();
        }
    })
    $('#id03GolStruktural2Orang').textbox({
        onChange:function(ne,ol){
            jumlahStruktural();
        }
    })
    $('#id03GolStruktural3Orang').textbox({
        onChange:function(ne,ol){
            jumlahStruktural();
        }
    })
    $('#id03GolStruktural4Orang').textbox({
        onChange:function(ne,ol){
            jumlahStruktural();
        }
    })
    function jumlahStruktural(){
        var jml ;
        jml = parseInt($('#id03GolStruktural1Orang').textbox('getValue'))+parseInt($('#id03GolStruktural2Orang').textbox('getValue'))+parseInt($('#id03GolStruktural3Orang').textbox('getValue'))+parseInt($('#id03GolStruktural4Orang').textbox('getValue'));
        $('#id03JumlahStrukturalOrang').textbox('setValue',jml);
    }
    $('#id03GolStruktural1Nominal').numberbox({
        onChange:function(ne,ol){
            totalStruktural();
        }
    })
    $('#id03GolStruktural2Nominal').numberbox({
        onChange:function(ne,ol){
            totalStruktural();
        }
    })
    $('#id03GolStruktural3Nominal').numberbox({
        onChange:function(ne,ol){
            totalStruktural();
        }
    })
    $('#id03GolStruktural4Nominal').numberbox({
        onChange:function(ne,ol){
            totalStruktural();
        }
    })
    function totalStruktural(){
        var jml;
        jml = parseInt($('#id03GolStruktural1Nominal').numberbox('getValue'))+parseInt($('#id03GolStruktural2Nominal').numberbox('getValue'))+parseInt($('#id03GolStruktural3Nominal').numberbox('getValue'))+parseInt($('#id03GolStruktural4Nominal').numberbox('getValue'));
        $('#id03TotalStruktural').numberbox('setValue',jml);
    }
    $('#id03GolFungsional1Orang').textbox({
        onChange:function(ne,ol){
            jumlahFungsional();
        }
    })
    $('#id03GolFungsional2Orang').textbox({
        onChange:function(ne,ol){
            jumlahFungsional();
        }
    })
    $('#id03GolFungsional3Orang').textbox({
        onChange:function(ne,ol){
            jumlahFungsional();
        }
    })
    $('#id03GolFungsional4Orang').textbox({
        onChange:function(ne,ol){
            jumlahFungsional();
        }
    })
    function jumlahFungsional(){
        var jml;
        jml = parseInt($('#id03GolFungsional1Orang').textbox('getValue'))+parseInt($('#id03GolFungsional2Orang').textbox('getValue'))+parseInt($('#id03GolFungsional3Orang').textbox('getValue'))+parseInt($('#id03GolFungsional4Orang').textbox('getValue'));
        $('#id03JumlahFungsionalOrang').textbox('setValue',jml);
    }
    $('#id03GolFungsional1Nominal').numberbox({
        onChange:function(ne,ol){
            totalFungsional();
        }
    })
    $('#id03GolFungsional2Nominal').numberbox({
        onChange:function(ne,ol){
            totalFungsional();
        }
    })
    $('#id03GolFungsional3Nominal').numberbox({
        onChange:function(ne,ol){
            totalFungsional();
        }
    })
    $('#id03GolFungsional4Nominal').numberbox({
        onChange:function(ne,ol){
            totalFungsional();
        }
    })
    function totalFungsional(){
        var jml;
        jml = parseInt($('#id03GolFungsional1Nominal').numberbox('getValue'))+parseInt($('#id03GolFungsional2Nominal').numberbox('getValue'))+parseInt($('#id03GolFungsional3Nominal').numberbox('getValue'))+parseInt($('#id03GolFungsional4Nominal').numberbox('getValue'));
        $('#id03TotalFungsional').numberbox('setValue',jml);
    }
</script>