<form id="fKomposisi" method="post">
    <input class="easyui-textbox" label="Jumlah Es I" labelPosition="left" data-options="prompt:'es I'" id="id04JumlahEsI" name="nm04JumlahEsI" style="width:250px;">
    <input class="easyui-textbox" label="Jumlah Es II" labelPosition="left" data-options="prompt:'es II'" id="id04JumlahEsII" name="nm04JumlahEsII" style="width:250px;">
    <input class="easyui-textbox" label="Jumlah Es III" labelPosition="left" data-options="prompt:'es III'" id="id04JumlahEsIII" name="nm04JumlahEsIII" style="width:250px;">
    <input class="easyui-textbox" label="Jumlah Es IV" labelPosition="left" data-options="prompt:'es IV'" id="id04JumlahEsIV" name="nm04JumlahEsIV" style="width:250px;">
    <input class="easyui-textbox" label="Total Es" labelPosition="left" data-options="prompt:'Total Es'" id="id04TotalEs" name="nm04TotalEs" style="width:205px;"><br>
    <input class="easyui-textbox" label="Jumlah Pelaksana" labelPosition="left" data-options="prompt:'Jumlah Pelaksana'" id="id04JumlahPelaksana" name="id04JumlahPelaksana" style="width:350px;"><br>
    <input class="easyui-textbox" label="Jumlah Fung Guru" labelPosition="left" data-options="prompt:'Jumlah Fung Guru'" id="id04JumlahFungGuru" name="nm04JumlahFungGuru" style="width:305px;">
    <input class="easyui-textbox" label="Jumlah Fung Para" labelPosition="left" data-options="prompt:'Jumlah Fung Para'" id="id04JumlahFungPara" name="nm04JumlahFungPara" style="width:350px;">
    <input class="easyui-textbox" label="Jumlah Fung Lain" labelPosition="left" data-options="prompt:'Jumlah Fung Lain'" id="id04JumlahFungLain" name="nm04JumlahFungLain" style="width:350px;">
    <input class="easyui-textbox" label="Total FUng" labelPosition="left" data-options="prompt:'Total Fung'" id="id04TotalFung" name="nm04TotalFUng" style="width:350px;"><br>
    <input class="easyui-textbox" label="Total PNS" labelPosition="left" data-options="prompt:'Total PNS'" id="id04TotalPns" name="nm04TotalPns" style="width:350px;">

</form>