<form id="fForm01" method="post">
    <input class="easyui-textbox" required="true" label="Judul Gaji" labelPosition="left" data-options="prompt:'Judul Gaji'" id="idJudulGaji" name="nmJudulGaji" style="width:250px;">
    <input class="easyui-datebox" required="true" label="Tanggal" labelPosition="left" id="idTanggal" name="nmTanggal" style="width:250px;"><br>   
    <input class="easyui-numberbox" required="true" value="0" label="Gol.1.Peg" labelPosition="left" data-options="prompt:'Gol.1.peg'" id="idGol1Peg" name="nmGol1Peg" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.1.Ist" labelPosition="left" data-options="prompt:'Gol.1.Ist'" id="idGol1Ist" name="nmGole1Ist" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.1.An" labelPosition="left" data-options="prompt:'Gol.1.An'" id="idGol1An" name="nmGol1An" style="width:250px;">
    <input class="easyui-numberbox" readonly="true" required="true" value="0" label="Gol.1.Jiwa" labelPosition="left" data-options="prompt:'Gol.1.Jiwa'" id="idGol1Jiwa" name="nmGol1Jiwa" style="width:250px;"><br>
    <input class="easyui-numberbox" required="true" value="0" label="Gol.2.Peg" labelPosition="left" data-options="prompt:'Gol.2.peg'" id="idGol2Peg" name="nmGol2Peg" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.2.Ist" labelPosition="left" data-options="prompt:'Gol.2.Ist'" id="idGol2Ist" name="nmGole2Ist" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.2.An" labelPosition="left" data-options="prompt:'Gol.2.An'" id="idGol2An" name="nmGol2An" style="width:250px;">
    <input class="easyui-numberbox" readonly="true" required="true" value="0" label="Gol.2.Jiwa" labelPosition="left" data-options="prompt:'Gol.2.Jiwa'" id="idGol2Jiwa" name="nmGol2Jiwa" style="width:250px;"><br>
    <input class="easyui-numberbox" required="true" value="0" label="Gol.3.Peg" labelPosition="left" data-options="prompt:'Gol.3.peg'" id="idGol3Peg" name="nmGol3Peg" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.3.Ist" labelPosition="left" data-options="prompt:'Gol.3.Ist'" id="idGol3Ist" name="nmGole3Ist" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.3.An" labelPosition="left" data-options="prompt:'Gol.3.An'" id="idGol3An" name="nmGol3An" style="width:250px;">
    <input class="easyui-numberbox" readonly="true" required="true" value="0" label="Gol.3.Jiwa" labelPosition="left" data-options="prompt:'Gol.3.Jiwa'" id="idGol3Jiwa" name="nmGol3Jiwa" style="width:250px;"><br>
    <input class="easyui-numberbox" required="true" value="0" label="Gol.4.Peg" labelPosition="left" data-options="prompt:'Gol.4.peg'" id="idGol4Peg" name="nmGol4Peg" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.4.Ist" labelPosition="left" data-options="prompt:'Gol.4.Ist'" id="idGol4Ist" name="nmGole14st" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Gol.4.An" labelPosition="left" data-options="prompt:'Gol.4.An'" id="idGol4An" name="nmGol14n" style="width:250px;">
    <input class="easyui-numberbox" readonly="true" required="true" value="0" label="Gol.4.Jiwa" labelPosition="left" data-options="prompt:'Gol.4.Jiwa'" id="idGol4Jiwa" name="nmGol4Jiwa" style="width:250px;"><br>
    <input class="easyui-numberbox" readonly="true" required="true" label="Jumlah Pegawai" labelPosition="left" data-options="prompt:'Jumlah Peg'" id="idJumlahPegawai" name="nmJumlahPegawai" style="width:250px;">
    <input class="easyui-numberbox" readonly="true" required="true" label="Jumlah Istri" labelPosition="left" data-options="prompt:'Jumlah Istri'" id="idJumlahIstri" name="nmJumlahIstri" style="width:250px;">
    <input class="easyui-numberbox" readonly="true" required="true" label="Jumlah Anak" labelPosition="left" data-options="prompt:'Jumlah Anak'" id="idJumlahAnak" name="nmJumlahAnak" style="width:250px;">
    <input class="easyui-numberbox" readonly="true" required="true" label="Jumlah Jiwa" labelPosition="left" data-options="prompt:'Jumlah Jiwa'" id="idJumlahJiwa" name="nmJumlahJiwa" style="width:250px;"><br>
    <input class="easyui-numberbox" required="true" value="0" label="Gapok" labelPosition="left" data-options="prompt:'Gapok',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idGapok" name="nmGapok" style="width:250px;"><br>
    <input class="easyui-numberbox" required="true" value="0" label="Tnj.Istri" labelPosition="left" data-options="prompt:'Tnj.Istri',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjIstri" name="nmTnjIstri" style="width:250px;">
    <input class="easyui-numberbox" required="true" value="0" label="Tnj.Anak" labelPosition="left" data-options="prompt:'Tnj.Anak',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjAnak" name="nmTnjAnak" style="width:250px;">
    <input class="easyui-numberbox" required="true" readonly="true" label="Tnj.Istri.Anak" labelPosition="left" data-options="prompt:'Tnj.Istri.Anak',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjIstriAnak" name="nmTnjIstriAnak" style="width:250px;"><br>
    <input class="easyui-numberbox" required="true" value="0" label="Tnj.Jabatan" labelPosition="left" data-options="prompt:'Tnj.Jabatan',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjJabatan" name="nmTnjJabatan" style="width:250px;"><br>
    <div style="float:left">
        <input class="easyui-numberbox" required="true" value="0" label="Tnj.Fungsional" labelPosition="left" data-options="prompt:'Tnj.Fungsional',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjFungsional" name="nmTnjFungsional" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="Tnj.Kesejahteraan" labelPosition="left" data-options="prompt:'Tnj.Kesejahteraan',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjKesejahteraan" name="nmTnjKesejahteraan" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="Tnj.Beras" labelPosition="left" data-options="prompt:'Tnj.Beras',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjBeras" name="nmTnjBeras" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="Tnj.PPH" labelPosition="left" data-options="prompt:'Tnj.PPH',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTnjPPH" name="nmTnjPPH" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="Pembulatan" labelPosition="left" data-options="prompt:'Pembulatan',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idPembulatan" name="nmPembulatan" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="Iuran Askes" labelPosition="left" data-options="prompt:'Iuran Askes',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idIuranAskes" name="nmIuranAskes" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="JKK" labelPosition="left" data-options="prompt:'JKK',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idJKK" name="nmJKK" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="JKM" labelPosition="left" data-options="prompt:'JKM',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idJKM" name="nmJKM" style="width:250px;"><br>
    </div>
    <div style="float:left;padding-left:10%">
        <h3>POTONGAN</h3>
        <input class="easyui-numberbox" required="true" value="0" label="BpjsKes1" labelPosition="left" data-options="prompt:'BpjsKes1',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idBpjsKes1" name="nmBpjsKes1" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="Taspen8" labelPosition="left" data-options="prompt:'Taspen8',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTaspen" name="nmTaspen" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" readonly="true" label="PPH" labelPosition="left" data-options="prompt:'PPH',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idPPH" name="nmPPH" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" label="Taperum" labelPosition="left" data-options="prompt:'Taperum',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idTaperum" name="nmTaperum" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" readonly="true" label="Askes" labelPosition="left" data-options="prompt:'Askes',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idAskes" name="nmAskes" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" readonly="true" label="Pot.JKK" labelPosition="left" data-options="prompt:'Pot.JKK',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idPotJKK" name="nmPotJKK" style="width:250px;"><br>
        <input class="easyui-numberbox" required="true" value="0" readonly="true" label="Pot.JKM" labelPosition="left" data-options="prompt:'Pot.JKM',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idPotJKM" name="nmPotJKM" style="width:250px;"><br>
    </div>
    <div style="float:left;padding-left:10%">
        <h3> Total </h3>
        <input class="easyui-numberbox" required="true" label="Jumlah Kotor" labelPosition="left" labelWidth="100" data-options="prompt:'Jumlah Kotor',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idJumlahKotor" name="nmJumlahKotor" style="width:300px;"><br>
        <input class="easyui-numberbox" required="true" label="Jumlah Potongan" labelPosition="left" data-options="prompt:'Jumlah Potongan',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idJumlahPotongan" name="nmJumlahPotongan" style="width:300px;"><br>
        <input class="easyui-numberbox" required="true" label="jumlah Penerimaan" labelPosition="left" data-options="prompt:'Jumlah Penerimaan',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp '" id="idJumlahPenerimaan" name="nmJumlahPenerimaan" style="width:300px;"><br>
    </div>
</form>

<script>
    var jmlPeg;
    var jmlIst;
    var jmlAn;
    var jiwa1;
    var jumlahJiwa;
    var jumlahKotor;
    var jumlahPotongan;
    var jumlahPenerimaan;
    $('#idTnjPPH').numberbox({
        onChange:function(ne,ol){
            $('#idPPH').numberbox('setValue',ne);
        }
    })
    $('#idIuranAskes').numberbox({
        onChange:function(ne,ol){
            $('#idAskes').numberbox('setValue',ne);
        }
    })
    $('#idJKK').numberbox({
        onChange:function(ne,ol){
            $('#idPotJKK').numberbox('serValue',ne);
        }
    })
    $('#idJKM').numberbox({
        onChange:function(ne,ol){
            $('#idPotJKM').numberbox('setValue',ne);
        }
    })
    $('#idGol1Peg').numberbox({
        onChange:function(ne,ol){
            jmlPeg = parseInt($('#idGol2Peg').numberbox('getValue'))+parseInt($('#idGol3Peg').numberbox('getValue'))+parseInt($('#idGol4Peg').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahPegawai').numberbox('setValue',jmlPeg);
            jiwa1 = parseInt($('#idGol1Ist').numberbox('getValue'))+parseInt($('#idGol1An').numberbox('getValue'))+parseInt(ne);
            $('#idGol1Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
            
        }
    })
    $('#idGol2Peg').numberbox({
        onChange:function(ne,ol){
            jmlPeg = parseInt($('#idGol1Peg').numberbox('getValue'))+parseInt($('#idGol3Peg').numberbox('getValue'))+parseInt($('#idGol4Peg').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahPegawai').numberbox('setValue',jmlPeg);
            jiwa1 = parseInt($('#idGol2Ist').numberbox('getValue'))+parseInt($('#idGol2An').numberbox('getValue'))+parseInt(ne);
            $('#idGol2Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol3Peg').numberbox({
        onChange:function(ne,ol){
            jmlPeg = parseInt($('#idGol2Peg').numberbox('getValue'))+parseInt($('#idGol1Peg').numberbox('getValue'))+parseInt($('#idGol4Peg').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahPegawai').numberbox('setValue',jmlPeg);
            jiwa1 = parseInt($('#idGol3Ist').numberbox('getValue'))+parseInt($('#idGol3An').numberbox('getValue'))+parseInt(ne);
            $('#idGol3Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol4Peg').numberbox({
        onChange:function(ne,ol){
            jmlPeg = parseInt($('#idGol2Peg').numberbox('getValue'))+parseInt($('#idGol3Peg').numberbox('getValue'))+parseInt($('#idGol1Peg').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahPegawai').numberbox('setValue',jmlPeg);
            jiwa1 = parseInt($('#idGol4Ist').numberbox('getValue'))+parseInt($('#idGol4An').numberbox('getValue'))+parseInt(ne);
            $('#idGol4Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol1Ist').numberbox({
        onChange:function(ne,ol){
            jmlIst = parseInt($('#idGol2Ist').numberbox('getValue'))+parseInt($('#idGol3Ist').numberbox('getValue'))+parseInt($('#idGol4Ist').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahIstri').textbox('setValue',jmlIst);
            jiwa1 = parseInt($('#idGol1Peg').numberbox('getValue'))+parseInt($('#idGol1An').numberbox('getValue'))+parseInt(ne);
            $('#idGol1Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol2Ist').numberbox({
        onChange:function(ne,ol){
            jmlIst = parseInt($('#idGol1Ist').numberbox('getValue'))+parseInt($('#idGol3Ist').numberbox('getValue'))+parseInt($('#idGol4Ist').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahIstri').textbox('setValue',jmlIst);
            jiwa1 = parseInt($('#idGol2Peg').numberbox('getValue'))+parseInt($('#idGol2An').numberbox('getValue'))+parseInt(ne);
            $('#idGol2Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol3Ist').numberbox({
        onChange:function(ne,ol){
            jmlIst = parseInt($('#idGol2Ist').numberbox('getValue'))+parseInt($('#idGol1Ist').numberbox('getValue'))+parseInt($('#idGol4Ist').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahIstri').textbox('setValue',jmlIst);
            jiwa1 = parseInt($('#idGol3Peg').numberbox('getValue'))+parseInt($('#idGol3An').numberbox('getValue'))+parseInt(ne);
            $('#idGol3Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol4Ist').numberbox({
        onChange:function(ne,ol){
            jmlIst = parseInt($('#idGol2Ist').numberbox('getValue'))+parseInt($('#idGol3Ist').numberbox('getValue'))+parseInt($('#idGol1Ist').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahIstri').textbox('setValue',jmlIst);
            jiwa1 = parseInt($('#idGol4Peg').numberbox('getValue'))+parseInt($('#idGol4An').numberbox('getValue'))+parseInt(ne);
            $('#idGol4Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol1An').numberbox({
        onChange:function(ne,ol){
            jmlAn=parseInt($('#idGol2An').numberbox('getValue'))+parseInt($('#idGol3An').numberbox('getValue'))+parseInt($('#idGol4An').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahAnak').textbox('setValue',jmlAn);
            jiwa1 = parseInt($('#idGol1Peg').numberbox('getValue'))+parseInt($('#idGol1Ist').numberbox('getValue'))+parseInt(ne);
            $('#idGol1Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol2An').numberbox({
        onChange:function(ne,ol){
            jmlAn=parseInt($('#idGol1An').numberbox('getValue'))+parseInt($('#idGol3An').numberbox('getValue'))+parseInt($('#idGol4An').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahAnak').textbox('setValue',jmlAn);
            jiwa1 = parseInt($('#idGol2Peg').numberbox('getValue'))+parseInt($('#idGol2Ist').numberbox('getValue'))+parseInt(ne);
            $('#idGol2Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol3An').numberbox({
        onChange:function(ne,ol){
            jmlAn=parseInt($('#idGol2An').numberbox('getValue'))+parseInt($('#idGol1An').numberbox('getValue'))+parseInt($('#idGol4An').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahAnak').textbox('setValue',jmlAn);
            jiwa1 = parseInt($('#idGol3Peg').numberbox('getValue'))+parseInt($('#idGol3Ist').numberbox('getValue'))+parseInt(ne);
            $('#idGol3Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGol4An').numberbox({
        onChange:function(ne,ol){
            jmlAn=parseInt($('#idGol2An').numberbox('getValue'))+parseInt($('#idGol3An').numberbox('getValue'))+parseInt($('#idGol1An').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahAnak').textbox('setValue',jmlAn);
            jiwa1 = parseInt($('#idGol4Peg').numberbox('getValue'))+parseInt($('#idGol4Ist').numberbox('getValue'))+parseInt(ne);
            $('#idGol4Jiwa').numberbox('setValue',jiwa1);
            jumlahJiwa = parseInt($('#idGol1Jiwa').numberbox('getValue'))+parseInt($('#idGol2Jiwa').numberbox('getValue'))+parseInt($('#idGol3Jiwa').numberbox('getValue'))+parseInt($('#idGol4Jiwa').numberbox('getValue'));
            $('#idJumlahJiwa').numberbox('setValue',jumlahJiwa);
        }
    })
    $('#idGapok').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idTnjIstri').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);
            $('#idTnjIstriAnak').numberbox('setValue',parseInt(ne)+parseInt($('#idTnjAnak').numberbox('getValue')));

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idTnjAnak').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);
            $('#idTnjIstriAnak').numberbox('setValue',parseInt(ne)+parseInt($('#idTnjIstri').numberbox('getValue')));

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idTnjBeras').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idTnjFungsional').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idTnjJabatan').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idTnjKesejahteraan').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idTnjPPH').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            $('#idPPH').numberbox('setValue',ne);
            jumlahPotongan = parseInt($('#idBpjsKes1').numberbox('getValue'))+
            parseInt($('#idTaspen').numberbox('getValue'))+
            parseInt($('#idTaperum').numberbox('getValue'))+
            parseInt($('#idAskes').numberbox('getValue'))+
            parseInt($('#idPotJKK').numberbox('getValue'))+
            parseInt($('#idPotJKM').numberbox('getValue'))+
            parseInt(ne);
            $('#idJumlahPotongan').numberbox('setValue',jumlahPotongan);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idPembulatan').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);

            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idIuranAskes').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            $('#idAskes').numberbox('setValue',ne);
            jumlahPotongan = parseInt($('#idBpjsKes1').numberbox('getValue'))+
            parseInt($('#idTaspen').numberbox('getValue'))+
            parseInt($('#idTaperum').numberbox('getValue'))+
            parseInt($('#idPPH').numberbox('getValue'))+
            parseInt($('#idPotJKK').numberbox('getValue'))+
            parseInt($('#idPotJKM').numberbox('getValue'))+
            parseInt(ne);
            $('#idJumlahPotongan').numberbox('setValue',jumlahPotongan);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);
            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idJKK').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKM').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            $('#idPotJKK').numberbox('setValue',ne);
            jumlahPotongan = parseInt($('#idBpjsKes1').numberbox('getValue'))+
            parseInt($('#idTaspen').numberbox('getValue'))+
            parseInt($('#idTaperum').numberbox('getValue'))+
            parseInt($('#idAskes').numberbox('getValue'))+
            parseInt($('#idPPH').numberbox('getValue'))+
            parseInt($('#idPotJKM').numberbox('getValue'))+
            parseInt(ne);
            $('#idJumlahPotongan').numberbox('setValue',jumlahPotongan);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);
            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idJKM').numberbox({
        onChange:function(ne,ol){
            jumlahKotor = parseInt($('#idGapok').numberbox('getValue'))+
            parseInt($('#idTnjIstri').numberbox('getValue'))+
            parseInt($('#idTnjAnak').numberbox('getValue'))+
            parseInt($('#idTnjBeras').numberbox('getValue'))+
            parseInt($('#idTnjFungsional').numberbox('getValue'))+
            parseInt($('#idTnjJabatan').numberbox('getValue'))+
            parseInt($('#idTnjKesejahteraan').numberbox('getValue'))+
            parseInt($('#idTnjPPH').numberbox('getValue'))+
            parseInt($('#idPembulatan').numberbox('getValue'))+
            parseInt($('#idIuranAskes').numberbox('getValue'))+
            parseInt($('#idJKK').numberbox('getValue'))+parseInt(ne);
            $('#idJumlahKotor').numberbox('setValue',jumlahKotor);

            $('#idPotJKM').numberbox('setValue',ne);
            jumlahPotongan = parseInt($('#idBpjsKes1').numberbox('getValue'))+
            parseInt($('#idTaspen').numberbox('getValue'))+
            parseInt($('#idTaperum').numberbox('getValue'))+
            parseInt($('#idAskes').numberbox('getValue'))+
            parseInt($('#idPotJKK').numberbox('getValue'))+
            parseInt($('#idPPH').numberbox('getValue'))+
            parseInt(ne);
            $('#idJumlahPotongan').numberbox('setValue',jumlahPotongan);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);
            $('#idTerbilang').textbox('setValue',terbilang(jumlahKotor));
        }
    })
    $('#idBpjsKes1').numberbox({
        onChange:function(ne,ol){
            jumlahPotongan = parseInt($('#idPotJKM').numberbox('getValue'))+
            parseInt($('#idTaspen').numberbox('getValue'))+
            parseInt($('#idTaperum').numberbox('getValue'))+
            parseInt($('#idAskes').numberbox('getValue'))+
            parseInt($('#idPotJKK').numberbox('getValue'))+
            parseInt($('#idPPH').numberbox('getValue'))+
            parseInt(ne);
            $('#idJumlahPotongan').numberbox('setValue',jumlahPotongan);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);
        }
    })
    $('#idTaspen').numberbox({
        onChange:function(ne,ol){
            jumlahPotongan = parseInt($('#idPotJKM').numberbox('getValue'))+
            parseInt($('#idBpjsKes1').numberbox('getValue'))+
            parseInt($('#idTaperum').numberbox('getValue'))+
            parseInt($('#idAskes').numberbox('getValue'))+
            parseInt($('#idPotJKK').numberbox('getValue'))+
            parseInt($('#idPPH').numberbox('getValue'))+
            parseInt(ne);
            $('#idJumlahPotongan').numberbox('setValue',jumlahPotongan);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);
        }
    })
    $('#idTaperum').numberbox({
        onChange:function(ne,ol){
            jumlahPotongan = parseInt($('#idPotJKM').numberbox('getValue'))+
            parseInt($('#idTaspen').numberbox('getValue'))+
            parseInt($('#idBpjsKes1').numberbox('getValue'))+
            parseInt($('#idAskes').numberbox('getValue'))+
            parseInt($('#idPotJKK').numberbox('getValue'))+
            parseInt($('#idPPH').numberbox('getValue'))+
            parseInt(ne);
            $('#idJumlahPotongan').numberbox('setValue',jumlahPotongan);

            jumlahPenerimaan=parseInt($('#idJumlahKotor').numberbox('getValue'))-parseInt($('#idJumlahPotongan').numberbox('getValue'));
            $('#idJumlahPenerimaan').numberbox('setValue',jumlahPenerimaan);
        }
    })
    

    function jumlahAnak(){
        jmlAn=parseInt($('#idGol2An').numberbox('getValue'))+parseInt($('#idGol3An').numberbox('getValue'))+parseInt($('#idGol1An').numberbox('getValue'))+parseInt($('#idGol4An').numberbox('getValue'));
            $('#idJumlahAnak').textbox('setValue',jmlAn);
    }
    function jumlahIstri(){
        jmlIst = parseInt($('#idGol2Ist').numberbox('getValue'))+parseInt($('#idGol3Ist').numberbox('getValue'))+parseInt($('#idGol1Ist').numberbox('getValue'))+parseInt($('#idGol4Ist').numberbox('getValue'));
        $('#idJumlahIstri').textbox('setValue',jmlIst);
    }
    function jumlahPegawai(){
        jmlPeg = parseInt($('#idGol2Peg').numberbox('getValue'))+parseInt($('#idGol3Peg').numberbox('getValue'))+parseInt($('#idGol1Peg').numberbox('getValue'))+parseInt($('#idGol4Peg').numberbox('getValue'));
        $('#idJumlahPegawai').numberbox('setValue',jmlPeg);
    }
</script>