<table id="dgGajiPotongan" title="Daftar Gaji + Potongan" class="easyui-datagrid" style="width:700px;height:250px"
        url="url"
        toolbar="#btGajiPotongan" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="" width="50"></th>
            <th field="" width="50"></th>
        </tr>
    </thead>
</table>
<div id="btGajiPotongan">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="tambahGajiPotongan()">Tambah</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editGajiPotongan()">Edit</a>
</div>