    <table id="dgDaftarEselon" title="Daftar Eselon" class="easyui-datagrid" style="width:100%;height:250px"
            url="url"
            toolbar="#btDaftarEselon" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="" width="50"></th>
                <th field="" width="50"></th>
            </tr>
        </thead>
    </table>
    <div id="btDaftarEselon">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="tambahDaftarEselon()">Tambah</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDaftarEselon()">Edit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteDaftarEselon()">Delete</a>
    </div>
    <table id="dgDaftarStaff" title="Daftar Staff" class="easyui-datagrid" style="width:100%;height:250px"
            url="url"
            toolbar="#btDaftarStaff" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="" width="50"></th>
                <th field="" width="50"></th>
            </tr>
        </thead>
    </table>
    <div id="btDaftarStaff">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="tambahDaftarStaff()">Tambah</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDaftarStaff()">Edit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteDaftarStaff()">Delete</a>
    </div>
    <table id="dgDaftarFungsional" title="Daftar Fungsional" class="easyui-datagrid" style="width:100%;height:250px"
            url="url"
            toolbar="#btDaftarFungsional" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="" width="50"></th>
                <th field="" width="50"></th>
            </tr>
        </thead>
    </table>
    <div id="btDaftarFungsional">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="tambahDaftarFungsional()">Tambah</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDaftarFungsional()">Edit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteDaftarFungsional()">Delete</a>
    </div>
