<form id="fPermohonanPenerbitanSP2D" method="post">
    <input class="easyui-numberbox" data-options="label:'Jumlah Kotor',labelPosition:'left',precision:2,groupSeparator:'.',decimalSeparator:',',prefix:'Rp ',width:'250px'" id="id09JumlahKotor" name="nm09JumlahKotor">
    <input class="easyui-textbox" label="Terbilang" labelPosition="left" data-options="prompt:'Terbilang'" id="id09Terbilang" name="nm09Terbilang" style="width:400px;"><br>
    <input class="easyui-textbox" label="No SPM" labelPosition="left" data-options="prompt:'No Spm'" id="id09NoSpm" name="nm09NoSpm" style="width:300px;"><br>
    <input class="easyui-textbox" label="No SPP" labelPosition="left" data-options="prompt:'No SPP'" id="id09NoSpp" name="nm09NoSpp" style="width:300px;">
</form>