{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'themes/default/easyui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'themes/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'themes/color.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'demo/demo.css' %}">
        <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery.easyui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery.easyui.mobile.js' %}"></script>
        <script type="text/javascript" src="{% static 'customJS.js' %}"></script>
        
    <head>

    <body onLoad="prepareDocument()">
        <script>
            $(document).ready( function() {

                $.messager.progress('close');
            });
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            function prepareDocument(){
                var win = $.messager.progress({
                    title:'Please waiting',
                    msg:'Loading data...'
                });
            }
        </script>
        {% include 'menu.html' %}
        {% block Content %}
        {% endblock Content %}

    </body>

</html>