{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Desktop - jQuery EasyUI</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/material-teal/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/desktop.css' %}">
	<script type="text/javascript" src="{% static 'easyui/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'easyui/jquery.easyui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'easyui/src/jquery.desktop.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/jquery.jkey.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/jquery.jkey.min.js' %}"></script>
    {% block Head %}
    {% endblock Head %}
</head>
<body>
    {% block Content %}
    {% endblock Content %}
</body>
</html>